.title {
text-align: center;
 }

.foto {
 height: 200px; 
}
body 
{background-image:src(immagini/sfondo.jpeg);}
.blocco {
 width: 300px;
 border: 1px solid black;
 text-align: center;
 margin: 10 px;
 padding: 10px;
 }

 .logo {
width: 100px;
}

img.logo {display: inline-block;

}
